<form>
    <label for="name">Tytuł książki: </label>
    <input type="text" id="name" name="name"><br>

    <label for="name">Autor: </label>
    <input type="text" id="name" name="name"><br>

    <p>Opis</p>
    <textarea cols=31 rows=4 type="textbox" id="description" name="description" placeholder="Opis..."></textarea><br>

    <label for="name">Rok wydania: </label>
    <input type="text" id="name" name="name"><br>

    <form method="post" enctype=multipart/form-data>
        <label for="img">Obrazek</label>
        <input type="file" name="file">
        <input type="submit" value="upload">
     </form>

</form>



